@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";

:root {
    --red: #C5004A;
    --darkred: #7F0036;
    --lightgray: #e0e0e0;
    --gray: #C0C0C0;
    --darkgray: #333;
    --navy: #17050F;
    --blue: #082840;
    --white: #fff;
}

.foo_button {
    @include mdc-button-ink-color(teal);
    @include mdc-states(teal);
}

.mdc-top-app-bar {
    @include mdc-top-app-bar-fill-color(teal);
}

// Top App Bar 쓸 때 화면 모서리에 붙게 해야 한다.
body {
    padding: 0;
    margin: 0;
}